<div class="container-fluid mb-1" style= "border: 1px solid white; background-color: #000;">
  <h1 class="text-center text-light" >Account Settings</h1>
</div>
<div class="container-fluid d-flex">
  <div class="row">
    <div class="col-md-12">
      <tabset>
        <tab class="mt-2 text-dark">
          <ng-template tabHeading>
            <div class="tab_header">
              <fa-icon [icon]="faPen" class="fa-sm mx-1"></fa-icon><span>Update Information</span>
            </div>
          </ng-template>
          <ng-template >

          </ng-template>
        </tab>
        <tab class="mt-2 text-dark">
          <ng-template tabHeading>
            <div class="tab_header">
              <fa-icon [icon]="faKey" class="fa-sm mx-1"></fa-icon><span>Change Password</span>
            </div>
          </ng-template>

        </tab>
      </tabset>

    </div>
  </div>
</div>
