

.tab_header{
  display: flex;
  justify-content: center;
  align-items: center;
  padding:5px;
  cursor:pointer;
  height: 40px;
  color: black;
}
.tab_header:hover{
  background-color:#8e0bd4;
  color:white;
  border-radius: 3px;
  transition: ease 0.5s all;
}

