<div class="main-container d-flex  justify-content-center align-items-center mt-4">
  <div class="row border rounded-3 p-5 bg-white shadow box-aria">
    <!--Logo Side-->
    <div class="col-md-4 rounded-2 d-flex align-items-center flex-column logo-side">
      <!--Logo Div-->
      <div class="logo  p-2">
        <img src="/assets/images/Publication.svg" alt="Register" class="img-fluid" >
      </div>
    </div>
    <!--Form Side-->
    <div class="col-md-8">
      <h3 class="text-center text-light rounded-1 mb-2 p-2" style="background-color: #8400c4;">Skills and Social-Links</h3>
      <!--Social Link Form-->
      <form class="col lg-3" (ngSubmit)="social_link_form.status !=='INVALID' && add_links()" [formGroup]="social_link_form">
        <!--Facebook Link-->
        <label class="form-label" for="facebook_link">Facebook link</label>
        <div class="input-group mb-2">
          <span class="input-group-text bg-white " >
            <fa-icon [icon]="faFacebook" class="fa-fade fa-lg" style="color: #8400c4;"></fa-icon>
          </span>
          <input type="url" class="form-control" placeholder="Add a link of your publication" id="facebook_link" name="facebook_link" formControlName="facebook_link" [ngClass]="{error: getControl('facebook_link')?.errors && getControl('facebook_link')?.touched}"/>
        </div>
        <!--Facebook Link error message-->
        <alert type="danger" [dismissible]="true" *ngIf="facebook_link_error_alert_msg">{{facebook_link_error_message}}</alert>

        <!--Twitter Link-->
        <label class="form-label" for="twitter_link">Twitter link</label>
        <div class="input-group mb-2">
          <span class="input-group-text bg-white " >
            <fa-icon [icon]="faTwitter" class="fa-fade fa-lg" style="color: #8400c4;"></fa-icon>
          </span>
          <input type="url" class="form-control" placeholder="Add a link of your publication" id="twitter_link" name="twitter_link" formControlName="twitter_link" [ngClass]="{error: getControl('twitter_link')?.errors && getControl('twitter_link')?.touched}"/>
        </div>
        <!--Twitter Link error message-->
        <alert type="danger" [dismissible]="true" *ngIf="twitter_link_error_alert_msg">{{twitter_link_error_message}}</alert>

        <!--Linkedin Link-->
        <label class="form-label" for="linkedin_link">Linkedin link</label>
        <div class="input-group mb-2">
          <span class="input-group-text bg-white " >
            <fa-icon [icon]="faLinkedin" class="fa-fade fa-lg" style="color: #8400c4;"></fa-icon>
          </span>
          <input type="url" class="form-control" placeholder="Add a link of your publication" id="linkedin_link" name="linkedin_link" formControlName="linkedin_link" [ngClass]="{error: getControl('linkedin_link')?.errors && getControl('linkedin_link')?.touched}"/>
        </div>
        <!--Linkedin Link error message-->
        <alert type="danger" [dismissible]="true" *ngIf="linkedin_link_error_alert_msg">{{linkedin_link_error_message}}</alert>

        <!--Github Link-->
        <label class="form-label" for="github_link">Github link</label>
        <div class="input-group mb-2">
          <span class="input-group-text bg-white " >
            <fa-icon [icon]="faGithub" class="fa-fade fa-lg" style="color: #8400c4;"></fa-icon>
          </span>
          <input type="url" class="form-control" placeholder="Add a link of your publication" id="github_link" name="github_link" formControlName="github_link" [ngClass]="{error: getControl('github_link')?.errors && getControl('github_link')?.touched}"/>
        </div>
        <!--Github Link error message-->
        <alert type="danger" [dismissible]="true" *ngIf="github_link_error_alert_msg">{{github_link_error_message}}</alert>
        <!-- Submit button -->
        <div class="col d-flex justify-content-start">
          <button class=" login-button w-100 mb-3" type="submit" [disabled]="social_link_form.status === 'INVALID' ">Add</button>
        </div>
      </form>

      <!--Skills Form-->
      <form class="col lg-3" (ngSubmit)="skills_form.status !=='INVALID' && add_skills()" [formGroup]="skills_form">
        <!--Skills-->
        <label class="form-label" for="skills">Skills</label>
        <div class="input-group mb-2">
          <span class="input-group-text bg-white ">
            <fa-icon [icon]="faBrain" class="fa-flip fa-lg" style="color: #8400c4;"></fa-icon>
          </span>
          <input type="text" class="form-control" placeholder="Add a link of your publication" id="skills" name="skills" formControlName="skills" [ngClass]="{error: get_skills_formControl('skills')?.errors && get_skills_formControl('skills')?.touched}"/>
        </div>
        <!--Publication Link error message-->
        <alert type="danger" [dismissible]="true" *ngIf="skills_error_alert_msg">{{skills_error_message}}</alert>
        <!-- Submit button -->
        <div class="col d-flex justify-content-start">
          <button class=" login-button w-100 mb-3" type="submit" [disabled]="skills_form.status === 'INVALID' ">Add</button>
        </div>
      </form>
    </div>
  </div>
</div>
