<nav class="navbar navbar-expand-lg bg-body-tertiary mt-4">
  <div class="container-fluid">
    <form class="d-flex p-1 gap-2" role="search" style="width: 100%">
      <div class="input-group justify-content-start">
        <span class="p-2" type="button">
          <fa-icon [icon]="faFilter"></fa-icon>
        </span>
        <select class="form-select" id="category">
          <option selected>Category</option>
          <option>Database management System</option>
          <option>Data Structure</option>
          <option>Algorithm</option>
          <option>Database management System</option>
          <option>Data Structure</option>
          <option>Algorithm</option>
        </select>
      </div>
      <div class="input-group justify-content-end">
        <input
          aria-label="Search"
          class="form-control"
          placeholder="Search"
          type="search"
        />
        <span class="p-2" type="button">
          <fa-icon [icon]="faSearch"></fa-icon>
        </span>
      </div>
    </form>
  </div>
</nav>
<h4 class="header">
  <div class="text-blur-out">Read Blogs-"Increase Your Knowledge"</div>
</h4>
<div class="card blogs mb-3 mt-5 swing-in-left-fwd" style="width: 100%">
  <div class="row g-0">
    <div class="col-md-3 image">
      <figure>
        <img
          alt=""
          class=""
          src="assets/images/Blogs-card/blog2.gif"
          style="height: 100%; width: 100%"
        />
      </figure>
    </div>
    <div class="col-md-9">
      <div class="card-body">
        <h4 class="card-title bar">Competitive Programming</h4>
        <p class="card-title mt-2">
          <strong>Published By:</strong> Mafuj Ahmed Bishal
        </p>
        <p class="card-text mt-2">
          <strong>Description:</strong> This is a wider card with supporting
          text below as a natural lead-in to additional content. This content is
          a little bit longerThis is a wider card with supporting text below as
          a natural lead-in to additional content. This content is a little bit
          longerThis is a wider card with supporting text below as a natural
          lead-in to additional content. This content is a little bit longer.
          This is a wider card with supporting text below as a natural lead-in
          to additional content. This content is a little bit longer.This is a
          wider card with supporting text below as a natural lead-in to
          additional content.
        </p>
        <p class="card-text">
          <fa-icon [icon]="faStopwatch" class="mx-1"></fa-icon>
          <small class="text-body-secondary">Last updated 3 minutes ago</small>
        </p>
        <button class="read_more">
          <a class="btn" routerLink="/student-mentor/show-full-blog"
          >Read More
            <fa-icon [icon]="faArrowRight" class="mx-1"></fa-icon>
          </a>
        </button>
        <button class="comments">
          <a class="btn" routerLink="/">
            <fa-icon [icon]="faComments" class="mx-1"></fa-icon>
            22222222 Comments</a
          >
        </button>
      </div>
    </div>
  </div>
</div>
