<!--Your Profile-->
<h4 class="heading">Your Profile</h4>
<div class="card mb-3 mt-2 swing-in-left-fwd blogs" style="width: 100%">
  <div class="row g-0">
    <div class="col-md-2 mentor-image">
      <img
        alt=""
        class=""
        src="/assets/images/top-mentors/mentor.jpg"
        style="height: 100%; width: 100%"
      />
    </div>
    <div class="col-md-10">
      <div class="card-body">
        <h4 class="card-title bar">Tasdid Alam</h4>
        <p class="card-title mt-1">
          <strong>
            <fa-icon [icon]="faIdBadge" style="color: teal"></fa-icon>
          </strong>
          201002157
        </p>
        <p class="card-title mt-1">
          <strong>
            <fa-icon [icon]="faEnvelope" style="color: teal"></fa-icon>
          </strong>
          abc@gmail.com
        </p>
        <p class="card-title mt-1">
          <strong>
            <fa-icon [icon]="faMobile" style="color: #3b5998"></fa-icon>
          </strong>
          0123654585
        </p>
        <p class="card-text mt-1">
          <strong>About:</strong> mnesarchum accommodare morbi bibendum gravida
          habitant viris pro elaboraret inimicus voluptatum maiestatis sea
          labores vivendo doming invenire proin adipisci solum mnesarchum accommodare morbi bibendum gravida
          habitant viris pro elaboraret inimicus voluptatum maiestatis sea
          labores vivendo doming invenire proin adipisci solum mnesarchum accommodare morbi bibendum gravida
          habitant viris pro elaboraret inimicus voluptatum maiestatis sea
          labores vivendo doming invenire proin adipisci solum
        </p>
      </div>
    </div>
  </div>
</div>
<!--<div class="card mb-3 mt-2 swing-in-left-fwd blogs" style="width: 100%">-->
<!--  <div class="row g-0">-->
<!--    <div class="col-md-2 mentor-image">-->
<!--      <img-->
<!--        alt=""-->
<!--        class=""-->
<!--        src="{{ student.image }}"-->
<!--        style="height: 100%; width: 100%"-->
<!--      />-->
<!--    </div>-->
<!--    <div class="col-md-10">-->
<!--      <div class="card-body">-->
<!--        <h4 class="card-title bar">{{ student.fullname }}</h4>-->
<!--        <p class="card-title mt-1">-->
<!--          <strong>-->
<!--            <fa-icon [icon]="faIdBadge" style="color: teal"></fa-icon>-->
<!--          </strong>-->
<!--          {{ student.studentid }}-->
<!--        </p>-->
<!--        <p class="card-title mt-1">-->
<!--          <strong>-->
<!--            <fa-icon [icon]="faEnvelope" style="color: teal"></fa-icon>-->
<!--          </strong>-->
<!--          {{ student.email }}-->
<!--        </p>-->
<!--        <p class="card-title mt-1">-->
<!--          <strong>-->
<!--            <fa-icon [icon]="faMobile" style="color: #3b5998"></fa-icon>-->
<!--          </strong>-->
<!--          {{ student.phone }}-->
<!--        </p>-->
<!--        <p class="card-text mt-1">-->
<!--          <strong>About:</strong> {{ student.about }}-->
<!--        </p>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
