<div class="main-container d-flex  justify-content-center align-items-center mt-4">
  <div class="row border rounded-3 p-5 bg-white shadow box-aria">
    <!--Logo Side-->
    <div class="col-md-4 rounded-2 d-flex align-items-center flex-column logo-side">
      <!--Logo Div-->
      <div class="logo mb-6 p-3 ">
        <img alt="Register" class="img-fluid" src="assets/images/others/Skills.gif">
      </div>
    </div>
    <!--Form Side-->
    <div class="col-md-8">
      <h3 class="text-center text-light rounded-1 mb-2 p-2" style="background-color: #8400c4;">Skills and
        Social-Links</h3>
      <!--Social Link Form-->
      <form (ngSubmit)="social_link_form.status !=='INVALID' && add_links()" [formGroup]="social_link_form"
            class="col lg-3">
        <!--Facebook Link-->
        <label class="form-label" for="facebook_link">Facebook link</label>
        <div class="input-group mb-2">
          <span class="input-group-text bg-white ">
            <fa-icon [icon]="faFacebook" class="fa-fade fa-lg" style="color: #8400c4;"></fa-icon>
          </span>
          <input [ngClass]="{error: getControl('facebook_link')?.errors && getControl('facebook_link')?.touched}"
                 class="form-control" formControlName="facebook_link" id="facebook_link"
                 name="facebook_link" placeholder="Add a link of your publication"
                 type="url"/>
        </div>
        <!--Facebook Link error message-->
        <alert *ngIf="facebook_link_error_alert_msg" [dismissible]="true"
               type="danger">{{facebook_link_error_message}}</alert>

        <!--Twitter Link-->
        <label class="form-label" for="twitter_link">Twitter link</label>
        <div class="input-group mb-2">
          <span class="input-group-text bg-white ">
            <fa-icon [icon]="faTwitter" class="fa-fade fa-lg" style="color: #8400c4;"></fa-icon>
          </span>
          <input [ngClass]="{error: getControl('twitter_link')?.errors && getControl('twitter_link')?.touched}"
                 class="form-control" formControlName="twitter_link" id="twitter_link"
                 name="twitter_link" placeholder="Add a link of your publication"
                 type="url"/>
        </div>
        <!--Twitter Link error message-->
        <alert *ngIf="twitter_link_error_alert_msg" [dismissible]="true"
               type="danger">{{twitter_link_error_message}}</alert>

        <!--Linkedin Link-->
        <label class="form-label" for="linkedin_link">Linkedin link</label>
        <div class="input-group mb-2">
          <span class="input-group-text bg-white ">
            <fa-icon [icon]="faLinkedin" class="fa-fade fa-lg" style="color: #8400c4;"></fa-icon>
          </span>
          <input [ngClass]="{error: getControl('linkedin_link')?.errors && getControl('linkedin_link')?.touched}"
                 class="form-control" formControlName="linkedin_link" id="linkedin_link"
                 name="linkedin_link" placeholder="Add a link of your publication"
                 type="url"/>
        </div>
        <!--Linkedin Link error message-->
        <alert *ngIf="linkedin_link_error_alert_msg" [dismissible]="true"
               type="danger">{{linkedin_link_error_message}}</alert>

        <!--Github Link-->
        <label class="form-label" for="github_link">Github link</label>
        <div class="input-group mb-2">
          <span class="input-group-text bg-white ">
            <fa-icon [icon]="faGithub" class="fa-fade fa-lg" style="color: #8400c4;"></fa-icon>
          </span>
          <input [ngClass]="{error: getControl('github_link')?.errors && getControl('github_link')?.touched}"
                 class="form-control" formControlName="github_link" id="github_link"
                 name="github_link" placeholder="Add a link of your publication"
                 type="url"/>
        </div>
        <!--Github Link error message-->
        <alert *ngIf="github_link_error_alert_msg" [dismissible]="true"
               type="danger">{{github_link_error_message}}</alert>
        <!-- Submit button -->
        <div class="col d-flex justify-content-start">
          <button [disabled]="social_link_form.status === 'INVALID' " class="login-button w-100 mb-3" type="submit">
            Add
          </button>
        </div>
      </form>

      <!--Skills Form-->
      <form (ngSubmit)="skills_form.status !=='INVALID' && add_skills()" [formGroup]="skills_form" class="col lg-3">
        <!--Skills-->
        <label class="form-label" for="skills">Skills</label>
        <div class="input-group mb-2">
          <span class="input-group-text bg-white ">
            <fa-icon [icon]="faBrain" class="fa-flip fa-lg" style="color: #8400c4;"></fa-icon>
          </span>
          <input
            [ngClass]="{error: get_skills_formControl('skills')?.errors && get_skills_formControl('skills')?.touched}"
            class="form-control" formControlName="skills" id="skills" name="skills"
            placeholder="Add a link of your publication"
            type="text"/>
        </div>
        <!--Publication Link error message-->
        <alert *ngIf="skills_error_alert_msg" [dismissible]="true" type="danger">{{skills_error_message}}</alert>
        <!-- Submit button -->
        <div class="col d-flex justify-content-start">
          <button [disabled]="skills_form.status === 'INVALID' " class=" login-button w-100 mb-3" type="submit">Add
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
