<!--Navbar-->
<app-navbar></app-navbar>
<!--Registration Form-->
<div class="container d-flex  justify-content-center align-items-center mt-3">
  <!--Registration-->
  <div class="row border rounded-3 p-5 bg-white shadow box-aria">

      <!--Logo Side-->
      <div class="col-md-6 rounded-2 d-flex align-items-center flex-column logo-side">

          <!--Logo Div-->
          <div class="logo mb-3">
              <img src="/assets/images/Registration-images/Registration1.svg" alt="Register" class="img-fluid" style="max-width: 250px; height: 300px;" >
          </div>
          <p class="text-dark fs-1 ">Create An Account</p>
          <small class="text-dark text-wrap text-center  " style="max-width: 15rem;">Run For Your Dreams</small>
      </div>
      <!--Form Side-->
      <div class="col-md-6">
          <form class="col lg-3" (ngSubmit)=" registrationForm.status !=='INVALID' && registered()" [formGroup]="registrationForm">
            <!--Fullname-->
            <label class="form-label" for="fullname">Fullname</label>
            <div class="input-group mb-2">
                  <span class="input-group-text bg-white " id="Fullname-icon">
                    <fa-icon [icon]="faUser" class="fa-flip fa-lg" style="color: #8400c4;"></fa-icon>
                  </span>
              <input type="text" class="form-control" placeholder="Ex:-'Mafuj Bishal' must be 8-20 character" id="fullname" name="fullname" formControlName="fullname" [ngClass]="{error: getControl('fullname')?.errors && getControl('fullname')?.touched}">
            </div>
            <!--Fullname error message-->
            <alert type="danger" [dismissible]="true" *ngIf="fullname_error_alert_msg">{{fullname_error_message}}</alert>

            <!--UserName-->
              <label class="form-label" for="username">Username</label>
              <div class="input-group mb-2">
                  <span class="input-group-text bg-white " id="Username-icon">
                    <fa-icon [icon]="faUser" class="fa-flip fa-lg" style="color: #8400c4;"></fa-icon>
                  </span>
                  <input type="text" class="form-control" placeholder="Ex:-'abc234' must be 8-20 character" id="username" name="username" formControlName="username" [ngClass]="{error: getControl('username')?.errors && getControl('username')?.touched}">
              </div>
              <!--Username error message-->
              <alert type="danger" [dismissible]="true" *ngIf="username_error_alert_msg">{{username_error_message}}</alert>
              <!--Student-Id-->
              <label class="form-label" for="studentid">Student Id</label>
              <div class="input-group mb-2">
                  <span class="input-group-text bg-white " id="Student-Id-icon">
                    <fa-icon [icon]="faIdCard" class="fa-flip fa-lg" style="color: #8400c4;"></fa-icon>
                  </span>
                  <input type="number" class="form-control" placeholder="Ex:-201002158" id="studentid" name="studentid" formControlName="studentid" [ngClass]="{error: getControl('studentid')?.errors && getControl('studentid')?.touched}">
              </div>
              <!--Studentid error message-->
              <alert type="danger" [dismissible]="true" *ngIf="studentid_error_alert_msg">{{studentid_error_message}}</alert>
              <!--Email-->
              <label class="form-label" for="email">Email</label>
              <div class="input-group mb-2">
                  <span class="input-group-text bg-white " id="Email-icon">
                    <fa-icon [icon]="faEnvelope" class="fa-flip fa-lg" style="color: #8400c4;"></fa-icon>
                  </span>
                  <input type="email" class="form-control" placeholder="Ex:-abc@gmail.com" id="email" name="email" formControlName="email" [ngClass]="{error: getControl('email')?.errors && getControl('email')?.touched}">
              </div>
              <!--Email error message-->
              <alert type="danger" [dismissible]="true" *ngIf="email_error_alert_msg">{{email_error_message}}</alert>
              <!--Role-->
              <label class="form-label" for="role">Role</label>
              <div class="input-group mb-2">
                  <span class="input-group-text bg-white " id="Role-icon">
                    <fa-icon [icon]="faBriefcase" class="fa-flip fa-lg" style= "color: #8400c4;" ></fa-icon>
                  </span>
                  <select class = "form-control"  id="role" name="role" formControlName="role"  [ngClass]="{error: getControl('role')?.errors && getControl('role')?.touched}">
                      <option>
                          Student
                      </option>
                      <option>
                          Student Mentor
                      </option>
                  </select>
                </div>
                <!--Role error message-->
              <alert type="danger" [dismissible]="true" *ngIf="role_error_alert_msg">{{role_error_message}}</alert>
              <!-- Password input -->
              <label class="form-label" for="password">Password</label>
              <div class="input-group mb-2">
                <span class="input-group-text bg-white" id="Password-icon1">
                  <fa-icon [icon]="fakey" class="fa-flip fa-lg" style="color: #8400c4;">
                  </fa-icon>
                </span>
                <input placeholder="Minimum 8-32 Ab12.+-/*@#$! etc" class="form-control" id="password" name="password" formControlName="password" [type]=" password_changetype ? 'password' : 'text' " [ngClass]="{error: getControl('password')?.errors && getControl('password')?.touched}">
                <span class="input-group-text bg-white" id="Password-icon2" (click)="view1()" >
                  <fa-icon [icon]="faEyeSlash" *ngIf="password_visiable"></fa-icon>
                  <fa-icon [icon]="faEye" *ngIf="!password_visiable"></fa-icon>
                </span>
              </div>
              <!-- Password error message -->
              <alert type="danger" [dismissible]="true" *ngIf="password_error_alert_msg">{{password_error_message}}</alert>
              <!--Confirm Password-->
              <label class="form-label" for="confirmpassword">Confirm password</label>
              <div class="input-group mb-3">
                <span class="input-group-text bg-white" id="Password-icon3">
                  <fa-icon [icon]="fakey" class="fa-flip fa-lg" style="color: #8400c4;">
                  </fa-icon>
                </span>
                <input placeholder="Minimum 8-32 Ab12.+-/*@#$! etc" class="form-control" id="confirmpassword" name="confirmpassword" formControlName="confirmpassword" [type]=" confirm_password_changetype ? 'password' : 'text' " [ngClass]="{error: getControl('confirmpassword')?.errors && getControl('confirmpassword')?.touched}">
                <span class="input-group-text bg-white" id="Password-icon4" (click)="view2()" >
                  <fa-icon [icon]="faEyeSlash" *ngIf="confirm_password_visiable"></fa-icon>
                  <fa-icon [icon]="faEye" *ngIf="!confirm_password_visiable"></fa-icon>
                </span>
              </div>
              <!-- Confirmpassword error message -->
              <alert type="danger" [dismissible]="true" *ngIf="confirmpassword_error_alert_msg">{{confirmpassword_error_message}}</alert>
              <alert type="danger" [dismissible]="true" *ngIf="getControl('confirmpassword')?.errors && getControl('confirmpassword')?.errors?.['Mustmatch']">Mismatched Password </alert>
              <div class="col d-flex justify-content-center">
                  <button class=" login-button w-100 mb-3" type="submit" [disabled]="registrationForm.status === 'INVALID' " (click)="open_success_modal()" >Register</button>
              </div>
              <!-- Register buttons -->
              <div class="text-center">
                  <p>Already Have an Account? <a routerLink="/login" class="">Login Here</a></p>
              </div>
          </form>
      </div>
  </div>
</div>
<!--success message modal popup 1-->
  <!-- The Modal -->
  <div class="modal" id="myModal"  >
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <!-- Modal Header -->
        <div class="modal-header">
          <button type="button" class="btn btn-close"  (click)="close_success_modal()" ></button>
        </div>
        <!-- Modal body -->
        <div class="modal-body">
          <div class="thank-you-pop ">
            <fa-icon [icon]="faCircleCheck" class="fa-beat-fade"></fa-icon>
            <h1>Thank You!</h1>
            <p>Successfully Registered.....</p>
          </div>
        </div>
        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button"  (click)="close_success_modal()">OK!!!</button>
        </div>
    </div>
  </div>
</div>
