<div class="container-fluid mt-5" data-aos="fade-up" data-aos-duration="2000">
  <h1 class="text-center fs-4 fw-bolder" style="color: #8400c4">Our Mentors</h1>
  <h2 class="text-center fw-bolder mb-3">View Profile for Details</h2>
  <div class="row">
    <div class="col-md-12 d-flex justify-content-center">
      <div class="container">
        <hr class="text-center fs-2 mb-4" style="color: #8400c4"/>
        <swiper-container
          class="p-2"
          navigation="true"
          pagination="true"
          pagination-clickable="true"
        >
          <swiper-slide  class="d-flex justify-content-center mb-4 p-3">
            <div class="card">
              <div class="image-content">
                <span class="overly"></span>
                <div class="card-image">
                  <img
                    alt=""
                    class="card-img"
                    src="/assets/images/top-mentors/mentor.jpg"
                  />
                </div>
              </div>
              <div class="card-content">
                <h2 class="name">Mafuj Ahmed Bishal</h2>
                <rating
                  [(ngModel)]="rate"
                  [max]="max"
                  [ngClass]="{
                    very_poor: rate >= 0 && rate <= 2,
                    poor: rate > 2 && rate <= 4,
                    fair: rate > 4 && rate <= 6,
                    good: rate > 6 && rate <= 8,
                    excellent: rate > 8 && rate <= 10
                  }"
                  [readonly]="isReadonly"
                  class="text-start"
                ></rating>
                <p class="description">Web Programming</p>
                <button class="button" routerLink="">
                  View Profile
                </button>
              </div>
            </div>
          </swiper-slide>
          <swiper-slide  class="d-flex justify-content-center mb-4 p-3">
            <div class="card">
              <div class="image-content">
                <span class="overly"></span>
                <div class="card-image">
                  <img
                    alt=""
                    class="card-img"
                    src="/assets/images/top-mentors/mentor.jpg"
                  />
                </div>
              </div>
              <div class="card-content">
                <h2 class="name">Tasdid Alam</h2>
                <rating
                  [(ngModel)]="rate"
                  [max]="max"
                  [ngClass]="{
                    very_poor: rate >= 0 && rate <= 2,
                    poor: rate > 2 && rate <= 4,
                    fair: rate > 4 && rate <= 6,
                    good: rate > 6 && rate <= 8,
                    excellent: rate > 8 && rate <= 10
                  }"
                  [readonly]="isReadonly"
                  class="text-start"
                ></rating>
                <p class="description">Algorithm</p>
                <button class="button" routerLink="">
                  View Profile
                </button>
              </div>
            </div>
          </swiper-slide>
          <swiper-slide  class="d-flex justify-content-center mb-4 p-3">
            <div class="card">
              <div class="image-content">
                <span class="overly"></span>
                <div class="card-image">
                  <img
                    alt=""
                    class="card-img"
                    src="/assets/images/top-mentors/mentor.jpg"
                  />
                </div>
              </div>
              <div class="card-content">
                <h2 class="name">Mehedi Hasan Shawon</h2>
                <rating
                  [(ngModel)]="rate"
                  [max]="max"
                  [ngClass]="{
                    very_poor: rate >= 0 && rate <= 2,
                    poor: rate > 2 && rate <= 4,
                    fair: rate > 4 && rate <= 6,
                    good: rate > 6 && rate <= 8,
                    excellent: rate > 8 && rate <= 10
                  }"
                  [readonly]="isReadonly"
                  class="text-start"
                ></rating>
                <p class="description">Data Structure</p>
                <button class="button" routerLink="">
                  View Profile
                </button>
              </div>
            </div>
          </swiper-slide>
        </swiper-container>
      </div>
    </div>
  </div>
</div>
