
<!--F.A.Q Section-->
<div class="container-fluid  bg-white mt-3" data-aos="fade-up-right" data-aos-duration="2000" >
  <div class="container">
    <p class="text-center fw-bolder fs-4" style="color: #8400c4;">F.A.Q</p>
    <h2 class="text-center">Frequently Asked Questions?</h2>
    <hr class="justify-content-center" style="color: #8400c4; font-weight:bolder;">
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-6 justify-content-center align-items-center ">
        <img src="/assets/images/Faq-images/FAQ.svg" alt="FAQ" class="justify-content-center align-items-center img-fluid">
      </div>
      <div class="col-md-6 justify-content-center align-items-center ">
        <div class="accordion" id="accordionExample">
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button class="accordion-button collapsed" type="button" (click)="isCollapsed1=!isCollapsed1" data-bs-target="#collapseOne" [ariaExpanded]="!isCollapsed1" aria-controls="collapseOne">
                How do I find a mentor?
              </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionExample"[ngbCollapse]="isCollapsed1" >
              <div class="accordion-body">
                There are a few different ways to find a mentor. You can ask your teachers, counselors, or other trusted adults for recommendations. You can also search online for mentoring programs that match your interests. Once you've found a few potential mentors, reach out to them and introduce yourself. Be sure to explain why you're interested in being mentored by them and what you hope to gain from the relationship.
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button class="accordion-button collapsed" type="button" (click)="isCollapsed2=!isCollapsed2" data-bs-target="#collapseTwo" [ariaExpanded]="!isCollapsed2" aria-controls="collapseTwo">
                What should I expect from a mentor-mentee relationship?
              </button>
            </h2>
            <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample"[ngbCollapse]="isCollapsed2" >
              <div class="accordion-body">
                A mentor-mentee relationship is a two-way street. Both the mentor and the mentee should have expectations for the relationship. The mentor should be willing to provide guidance, support, and advice. The mentee should be willing to listen, learn, and take action. A good mentor-mentee relationship is based on trust, respect, and communication.
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button class="accordion-button collapsed" type="button" (click)="isCollapsed3=!isCollapsed3" data-bs-target="#collapseThree" [ariaExpanded]="!isCollapsed3" aria-controls="collapseTwo">
                How often should I meet with my mentor?
              </button>
            </h2>
            <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample"[ngbCollapse]="isCollapsed3">
              <div class="accordion-body">
                The frequency of your meetings with your mentor will depend on your individual needs and schedules. Some mentors and mentees meet weekly, while others meet biweekly or monthly. It's important to find a frequency that works for both of you.
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button class="accordion-button collapsed" type="button" (click)="isCollapsed4=!isCollapsed4" data-bs-target="#collapseFour" [ariaExpanded]="!isCollapsed4" aria-controls="collapseFour">
                What topics can I discuss with my mentor?
              </button>
            </h2>
            <div id="collapseFour" class="accordion-collapse collapse" data-bs-parent="#accordionExample"[ngbCollapse]="isCollapsed4" >
              <div class="accordion-body">
                You can discuss anything with your mentor that you're interested in or struggling with. This could include academic topics, career goals, personal challenges, or anything else that's on your mind. Your mentor can offer you guidance, support, and advice.
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button class="accordion-button collapsed" type="button" (click)="isCollapsed5=!isCollapsed5" data-bs-target="#collapseFive" [ariaExpanded]="!isCollapsed5" aria-controls="collapseFive">
                What if I have a conflict with my mentor?
              </button>
            </h2>
            <div id="collapseFive" class="accordion-collapse collapse" data-bs-parent="#accordionExample"[ngbCollapse]="isCollapsed5" >
              <div class="accordion-body">
                If you have a conflict with your mentor, it's important to address it head-on. Talk to your mentor about the issue and try to come to a resolution. If you can't resolve the conflict on your own, you may need to involve a third party, such as a counselor or another trusted adult.
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button class="accordion-button collapsed" type="button" (click)="isCollapsed6=!isCollapsed6" data-bs-target="#collapseSix" [ariaExpanded]="!isCollapsed2" aria-controls="collapseSix">
                What should I expect from a mentor-mentee relationship?
              </button>
            </h2>
            <div id="collapseSix" class="accordion-collapse collapse" data-bs-parent="#accordionExample"[ngbCollapse]="isCollapsed6" >
              <div class="accordion-body">
                A mentor-mentee relationship is a two-way street. Both the mentor and the mentee should have expectations for the relationship. The mentor should be willing to provide guidance, support, and advice. The mentee should be willing to listen, learn, and take action. A good mentor-mentee relationship is based on trust, respect, and communication.
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button class="accordion-button collapsed" type="button" (click)="isCollapsed7=!isCollapsed7" data-bs-target="#collapseTwo" [ariaExpanded]="!isCollapsed7" aria-controls="collapseSeven">
                How do I end my mentor-mentee relationship?
              </button>
            </h2>
            <div id="collapseSeven" class="accordion-collapse collapse" data-bs-parent="#accordionExample"[ngbCollapse]="isCollapsed7" >
              <div class="accordion-body">
                If you decide to end your mentor-mentee relationship, it's important to do so respectfully. Talk to your mentor and explain your reasons for ending the relationship. Thank them for their time and support.
              </div>
            </div>
          </div>
        </div>
      </div>
</div>
<!-- End F.A.Q Section -->
