<div class="banner justify-content-center align-items-center">
  <div class="container  d-flex justify-content-center align-items-center">
      <div class="row d-flex justify-content-start align-items-center ">
          <div class="col-md-6 justify-content-center align-items-center" >
              <h1 class="text-start justify-content-center align-items-center" data-aos="fade-up" data-aos-duration="3000">A mentor is someone who allows you to see the hope inside yourself-<strong style="color: blueviolet;">Oprah Winfrey</strong></h1>
              <h2 class="justify-content-center align-items-center mt-3 mt-lg-3 mt-md-3" data-aos="fade-up" data-aos-duration="2500" >Find Your Desire Courses, Mentor!!!!</h2>
              <div class="d-inline-flex justify-content-center mt-4" data-aos="fade-up" data-aos-duration="2000" >
                  <a class="justify-content-center align-items-center">
                    <button  class="Get-Started-Button">Get Started <fa-icon [icon]="faArrowRight"></fa-icon></button>
                  </a>
              </div>
          </div>
          <div class="col-md-6 justify-content-center align-items-center" data-aos="fade-left" data-aos-duration="2000">
              <img src="/assets/images/Home-images/Banner3.svg" class="img-fluid mt-5 p-3" alt="..." style="width: max-content; height:max-content;">
          </div>
      </div>
  </div>
  </div>
