
<div class="main-container d-flex">
  <div class="sidebar" id="side_nav" [collapse]="isCollapsed" >
    <div class="header-box px-2 pt-2 pb-4 d-flex justify-content-between">
      <button class="bars" (click)="isCollapsed=!isCollapsed;"  [attr.aria-expanded]="!isCollapsed" aria-controls="side_nav">
          <span>
            <fa-icon [icon]="faBarsStaggered" style="color: white"></fa-icon>
          </span>
      </button>
    </div>
    <ul class="list-unstyled px-2">
      <li class="nav-list-item">
        <fa-icon [icon]="faUser"></fa-icon>
        <span>
          <a routerLink="/student-mentor/student-mentor-about" >Profile</a>
        </span>
      </li>
      <li class="nav-list-item">
        <fa-icon [icon]="faGear"></fa-icon>
        <span>
          <a routerLink="/student-mentor/student-mentor-account-settings">Account Settings</a>
        </span>
      </li>
      <li class="nav-list-item">
        <fa-icon [icon]="faBlog"></fa-icon>
        <span>
          <a type="button" (click)="open_inner_item = !open_inner_item" [attr.aria-expanded]="!open_inner_item" aria-controls="open_inner_item">Your Blogs</a>
        </span>
        <ul class="inner-item list-unstyled px-2" id="open_inner_item" [collapse]="open_inner_item" [isAnimated]="open_inner_item">
          <li class="inner-item-list">
            <fa-icon [icon]="faReplyAll"></fa-icon>
            <span>
              <a routerLink="/student-mentor/all-your-blogs">All Your Blogs</a>
            </span>
          </li>
          <li class="inner-item-list">
            <fa-icon [icon]="faPenToSquare"></fa-icon>
            <span>
              <a routerLink="/student-mentor/write-your-blogs">Write New Blogs</a>
            </span>
          </li>
          <li class="inner-item-list">
            <fa-icon [icon]="faEye"></fa-icon>
            <span>
              <a routerLink="/student-mentor/watch-others-blogs">Watch Other's Blogs</a>
            </span>
          </li>
        </ul>
      </li>
      <li class="nav-list-item">
        <fa-icon [icon]="faSquareShareNodes"></fa-icon>
        <span>
          <a routerLink="/student-mentor/share-resources">Share Resources</a>
        </span>
      </li>
      <li class="nav-list-item">
        <fa-icon [icon]="faSignOut"></fa-icon>
        <span>
          <a routerLink="/home">Logout</a>
        </span>
      </li>
    </ul>
  </div>
  <div class="content">
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <div class="container-fluid">
        <div class="d-flex justify-content-between d-block  ">
          <a class="navbar-brand" href="#"><span class = "logo-left"><b>MENTOR</b></span><span class="logo-right"><b>MIND</b></span></a>
          <button class="bars" (click)="isCollapsed=!isCollapsed"
                  [attr.aria-expanded]="!isCollapsed"
                  aria-controls="side_nav">
            <span><fa-icon [icon]="faBarsStaggered"></fa-icon></span>
          </button>
        </div>
        <div class="collapse navbar-collapse justify-content-end" >
          <ul class="navbar-nav  mb-2 mb-lg-0 ">
            <li class="nav-item">
              <img src="assets/images/top-mentors/mentor1.png" alt="" id="profile-img">
              <span>Mafuj Ahmed Bishal</span>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="display-content">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>







<!--<div class="header" >-->
<!--  <nav class=" navbar navbar-expand-md navbar-light  shadow">-->
<!--    <span  type="button" (click)="collapse.toggle()" [attr.aria-expanded]="!isCollapsed" aria-controls="sidenav" style="border:1px solid white;" class="me-4 p-2" >-->
<!--    <fa-icon [icon]="faBarsStaggered" class="fa-2xl"></fa-icon>-->
<!--    </span>-->
<!--    <a class="brand" routerLink="/home">-->
<!--        <span class = "logo-left"><b>MENTOR</b></span><span class = "logo-right"><b>MIND</b></span>-->
<!--    </a>-->
<!--  </nav>-->
<!--</div>-->
<!--<div class="sidenav" id="sidenav" #collapse="ngbCollapse" [(ngbCollapse)]="isCollapsed" [horizontal]="true">-->
<!--  <div class="profile">-->
<!--    <img src="assets/images/top-mentors/mentor1.png" alt=""/>-->
<!--    <span>Mafuj Ahmed Bishal</span>-->
<!--  </div>-->
<!--  <hr class="text-light text-center">-->
<!--  <ul class="nav-list">-->
<!--    <li class="nav-list-item">-->
<!--      <fa-icon [icon]="faUser"></fa-icon>-->
<!--      <span>-->
<!--        <a routerLink="/student-mentor/student-mentor-about">Profile</a>-->
<!--      </span>-->
<!--    </li>-->
<!--    <li class="nav-list-item">-->
<!--      <fa-icon [icon]="faGear"></fa-icon>-->
<!--      <span>-->
<!--        <a routerLink="/student-mentor/student-mentor-account-settings">Account Settings</a>-->
<!--      </span>-->
<!--    </li>-->
<!--    <li class="nav-list-item">-->
<!--      <fa-icon [icon]="faBlog"></fa-icon>-->
<!--      <span>-->
<!--        <a type="button" (click)="open_inner_item = !open_inner_item" [attr.aria-expanded]="!open_inner_item" aria-controls="open_inner_item">Your Blogs</a>-->
<!--      </span>-->
<!--      <ul class="inner-item" id="open_inner_item" [collapse]="open_inner_item" [isAnimated]="open_inner_item">-->
<!--        <li class="inner-item-list">-->
<!--          <fa-icon [icon]="faReplyAll"></fa-icon>-->
<!--          <span>-->
<!--            <a routerLink="/student-mentor/student-mentor-about">All Your Blogs</a>-->
<!--          </span>-->
<!--        </li>-->
<!--        <li class="inner-item-list">-->
<!--          <fa-icon [icon]="faPenToSquare"></fa-icon>-->
<!--          <span>-->
<!--            <a routerLink="/student-mentor/student-mentor-about">Write New Blogs</a>-->
<!--          </span>-->
<!--        </li>-->
<!--        <li class="inner-item-list">-->
<!--          <fa-icon [icon]="faEye"></fa-icon>-->
<!--          <span>-->
<!--            <a routerLink="/student-mentor/student-mentor-about">Watch Other's Blogs</a>-->
<!--          </span>-->
<!--        </li>-->
<!--      </ul>-->
<!--    </li>-->
<!--    <li class="nav-list-item">-->
<!--      <fa-icon [icon]="faSquareShareNodes"></fa-icon>-->
<!--      <span>-->
<!--        <a routerLink="/student-mentor/student-mentor-about">Share Resources</a>-->
<!--      </span>-->
<!--    </li>-->
<!--    <li class="nav-list-item">-->
<!--      <fa-icon [icon]="faSignOut"></fa-icon>-->
<!--      <span>-->
<!--        <a routerLink="/home">Logout</a>-->
<!--      </span>-->
<!--    </li>-->
<!--  </ul>-->
<!--</div>-->
<!--<div class="main-display align-items-center">-->
<!--  <router-outlet></router-outlet>-->
<!--</div>-->

