<div class="dashboard_container">
  <div class="user-counter">
    <div class="total-user-counter">
      <fa-icon [icon]="faUsers" class="fa-lg" style="color: #F27F21"></fa-icon>
      <h2>{{total_users_counter}}</h2>
      <p>Total Users</p>
    </div>
    <div class="total-mentor-counter">
      <fa-icon [icon]="faChalkboardTeacher" class="fa-lg" style="color: #49D1E5"></fa-icon>
      <h2>{{total_mentors_counter}}</h2>
      <p>Total Mentors</p>
    </div>
    <div class="total-mentees-counter">
      <fa-icon [icon]="faGraduationCap" class="fa-lg" style="color: #df6363"></fa-icon>
      <h2>{{total_mentees_counter}}</h2>
      <p>Total Mentees</p>
    </div>
    <div class="total-mentees-request-counter">
      <fa-icon [icon]="faChalkboardTeacher" class="fa-lg" style="color: #56b290 "></fa-icon>
      <h2>{{ total_mentors_requests_counter }}</h2>
      <p>Total Mentors Request</p>
    </div>
  </div>
</div>
