<div class="main-container d-flex">
  <div
    #collapse="ngbCollapse"
    [(ngbCollapse)]="isCollapsed"
    [horizontal]="true"
    class="sidebar"
    id="side_nav"
  >
    <div class="header-box px-2 pt-2 pb-4 d-flex justify-content-between">
      <button
        (click)="isCollapsed = !isCollapsed"
        [attr.aria-expanded]="!isCollapsed"
        aria-controls="side_nav"
        class="bars"
      >
        <span>
          <fa-icon [icon]="faBarsStaggered" style="color: white"></fa-icon>
        </span>
      </button>
    </div>
    <ul class="list-unstyled">
      <li>
        <accordion [isAnimated]="true">
          <accordion-group heading="Introduction">
            <ul class="list-unstyled">
              <li>What Data Mining</li>
              <li>What Data Mining</li>
            </ul>
          </accordion-group>
          <accordion-group heading="Why Data Mining">
            <li>What Data Mining</li>
            <li>What Data Mining</li>
          </accordion-group>
          <accordion-group heading="Importance of Data Mining">
            <li>What Data Mining</li>
            <li>What Data Mining</li>
          </accordion-group>
        </accordion>
      </li>
    </ul>
  </div>
  <div class="content">
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <div class="container-fluid">
        <div class="d-flex justify-content-between d-block">
          <button
            (click)="isCollapsed = !isCollapsed"
            [attr.aria-expanded]="!isCollapsed"
            aria-controls="side_nav"
            class="bars"
          >
            <span><fa-icon [icon]="faBarsStaggered"></fa-icon></span>
          </button>
        </div>
      </div>
    </nav>
    <div class="display-content">
      endquis ipsum adolescens definitiones tacimates sadipscing nec.
      Rectequeerror nihil. Dicitposse graece ius elitr mel vocibus latine
      aperiri. Mandamuscum vivendo possim dicunt suspendisse. Aliquideget mollis
      brute sumo. Velitdolorum commune tacimates eos arcu fermentum nisi solum
      melius imperdiet oporteat maecenas corrumpit laoreet. Fuscelectus tation
      persequeris constituam saepe auctor maximus adversarium aeque ocurreret
      equidem ceteros. Causaevoluptatum indoctum faucibus diam tortor orci
      laoreet pretium civibus mea nibh agam aliquip dicta sale lacinia non
      postea hendrerit. Conceptammnesarchum vituperata malorum patrioque nulla
      debet minim delectus elit suscipiantur hendrerit nulla mel dictumst
      omittantur hinc sed ancillae labores. Definiebasevertitur quam.
    </div>
  </div>
</div>
