@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'poppins',sans-serif;
}
.header-text > h2{
  text-align: center;
  color: #000;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 4;
  font-weight: bolder;
}
.header-text > p{
  text-align: center;
  color: #8400c4;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
  font-weight: bold;
}
.header-text > hr {
  color: #8400c4;
  width: 100%;
  justify-content: center;
  text-align: center;
}
.image-content, .card-content{
  padding: 10px 14px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.image-content{
  position: relative;
  row-gap: 5px;
  padding: 25px 0;
}
.overly{
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: #8400c4;
  border-radius: 25px 25px 0 25px;
}
.overly::before,.overly::after{
  content: '';
  position: absolute;
  right:0;
  bottom: -40px;
  height: 40px;
  width: 40px;
  background-color: #8400c4;
}
.overly::after{
  border-radius: 0 25px 0 0;
  background-color: #FFF;
}
.card-image{
  position: relative;
  height: 150px;
  width: 150px;
  border-radius: 50%;
  background: #FFF;
  padding: 3px;
}
.card-image .card-img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
  border: 4px solid #8400c4;
}
.card{
  border-radius: 25px;
  background-color: #FFF;
  width: 320px;
}
.name{
  font-size: 18px;
  font-weight: 500;
  color: #333;
}
.description{
  font-size: 14px;
  text-align: center;
  color: #000;
}
.button{
  border: none;
  font-size: 16px;
  color: #FFF;
  padding: 8px 16px;
  background-color: #8400c4;
  border-radius: 6px;
  cursor: pointer;
  margin: 14px;
  transition: all 0.3s ease;
}
.button:hover{
  background: #8e0bd4;
}
