<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <div class="d-flex justify-content-between d-block">
      <a class="navbar-brand" href="#"
        ><span class="logo-left"><b>MENTOR</b></span
        ><span class="logo-right"><b>MIND</b></span></a
      >
    </div>
    <div class="collapse navbar-collapse justify-content-end">
      <ul class="navbar-nav mb-2 mb-lg-0">
        <li class="nav-item">
          <img
            alt=""
            id="profile-img"
            src="assets/images/top-mentors/mentor.jpg"
          />
          <span>Mafuj Ahmed Bishal</span>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="scrollmenu">
  <ul class="list-group list-group-horizontal p-1">
    <li class="list-group-item text-white">
      <a class="text-decoration-none" routerLink="/courses/show-full-course"
        >Web Development</a
      >
    </li>
    <li class="list-group-item text-white">
      <a class="text-decoration-none" routerLink="/courses/show-full-course"
        >Database Management System</a
      >
    </li>
    <li class="list-group-item text-white">
      <a class="text-decoration-none" routerLink="/courses/show-full-course"
        >Operating System</a
      >
    </li>
  </ul>
</div>
<div class="main-display">
  <router-outlet></router-outlet>
</div>
