<div id="banner_top"></div>
<div class="banner mt-5 justify-content-center align-items-center" id="banner">
  <ul class="circles">
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
  </ul>
  <div class="container d-flex justify-content-center align-items-center">
    <div class="row d-flex justify-content-start align-items-center">
      <div class="col-md-6 justify-content-center align-items-center">
        <h1
          class="text-start justify-content-center align-items-center"
          data-aos="fade-up"
          data-aos-duration="3000"
        >
          A mentor is someone who allows you to see the hope inside
          yourself-<strong style="color: blueviolet">Oprah Winfrey</strong>
        </h1>
        <h2
          class="justify-content-center align-items-center mt-3 mt-lg-3 mt-md-3"
          data-aos="fade-up"
          data-aos-duration="2500"
        >
          Find Your Desire Courses, Mentor!!!!
        </h2>
        <div
          class="d-inline-flex justify-content-center mt-4"
          data-aos="fade-up"
          data-aos-duration="2000"
        >
          <a class="justify-content-center align-items-center">
            <button (click)="go_to_counter()" class="Get-Started-Button">
              Get Started
              <fa-icon [icon]="faArrowRight"></fa-icon>
            </button>
          </a>
        </div>
        <!--        <div>-->
        <!--          <app-logo></app-logo>-->
        <!--        </div>-->
      </div>
      <div
        class="col-md-6 justify-content-center align-items-center background"
        data-aos="fade-left"
        data-aos-duration="2000"
      >
        <img
          alt="..."
          class="img-fluid mt-5 p-3"
          src="/assets/images/Home-images/banner10.gif"
        />
      </div>
    </div>
  </div>
</div>
<div id="banner_last"></div>
