<app-navbar></app-navbar>
<div class="container d-flex  justify-content-center align-items-center mt-4">
  <!--Login-->
  <div class="row border rounded-3 p-5 bg-white shadow box-aria">
    <!--Logo Side-->
    <div class="col-md-6 rounded-2 d-flex align-items-center flex-column logo-side">
      <!--Logo Div-->
      <div class="logo mb-6 p-3">
        <img alt="Register" class="img-fluid" src="assets/images/forgetpassword/ForgetPassword.gif"
             style="max-width: 250px; height: 300px;">
      </div>
      <p class="text-dark fs-1 ">Recover Your Account</p>
    </div>
    <!--Form Side-->
    <div class="col-md-6">
      <h3 class="text-center text-light rounded-1 mb-2 p-2" style="background-color: #8400c4;">Forgot Your
        Password?</h3>
      <form (ngSubmit)=" forgotpasswordform.status !=='INVALID' && registered()" [formGroup]="forgotpasswordform"
            class="col lg-3">
        <!--UserName-->
        <label class="form-label" for="username">Username</label>
        <div class="input-group mb-2">
                  <span class="input-group-text bg-white " id="Username-icon">
                    <fa-icon [icon]="faUser" class="fa-flip fa-lg" style="color: #8400c4;"></fa-icon>
                  </span>
          <input [ngClass]="{error: getControl('username')?.errors && getControl('username')?.touched}"
                 class="form-control" formControlName="username" id="username"
                 name="username" placeholder="Ex:-'abc234' must be 8-20 character"
                 type="text">
        </div>
        <!--Username error message-->
        <alert *ngIf="username_error_alert_msg" [dismissible]="true" type="danger">{{username_error_message}}</alert>
        <!--Email-->
        <label class="form-label" for="email">Email</label>
        <div class="input-group mb-2">
                  <span class="input-group-text bg-white " id="Email-icon">
                    <fa-icon [icon]="faEnvelope" class="fa-flip fa-lg" style="color: #8400c4;"></fa-icon>
                  </span>
          <input [ngClass]="{error: getControl('email')?.errors && getControl('email')?.touched}" class="form-control"
                 formControlName="email" id="email" name="email"
                 placeholder="Ex:-abc@gmail.com"
                 type="email">
        </div>
        <!--Email error message-->
        <alert *ngIf="email_error_alert_msg" [dismissible]="true" type="danger">{{email_error_message}}</alert>
        <!-- Password input -->
        <label class="form-label" for="password">New Password</label>
        <div class="input-group mb-2">
                <span class="input-group-text bg-white" id="Password-icon-1">
                  <fa-icon [icon]="fakey" class="fa-flip fa-lg" style="color: #8400c4;">
                  </fa-icon>
                </span>
          <input [ngClass]="{error: getControl('password')?.errors && getControl('password')?.touched}"
                 [type]=" password_changetype ? 'password' : 'text' " class="form-control" formControlName="password"
                 id="password" name="password"
                 placeholder="Minimum 8-32 Ab12.+-/*@#$! etc">
          <span (click)="view1()" class="input-group-text bg-white" id="Password-icon-2">
                  <fa-icon *ngIf="password_visiable" [icon]="faEyeSlash"></fa-icon>
                  <fa-icon *ngIf="!password_visiable" [icon]="faEye"></fa-icon>
                </span>
        </div>
        <!-- Password error message -->
        <alert *ngIf="password_error_alert_msg" [dismissible]="true" type="danger">{{password_error_message}}</alert>
        <!--Confirm Password-->
        <label class="form-label" for="confirmpassword">Confirm password</label>
        <div class="input-group mb-3">
                <span class="input-group-text bg-white" id="Password-icon-3">
                  <fa-icon [icon]="fakey" class="fa-flip fa-lg" style="color: #8400c4;">
                  </fa-icon>
                </span>
          <input [ngClass]="{error: getControl('confirmpassword')?.errors && getControl('confirmpassword')?.touched}"
                 [type]=" confirm_password_changetype ? 'password' : 'text' " class="form-control"
                 formControlName="confirmpassword" id="confirmpassword"
                 name="confirmpassword"
                 placeholder="Minimum 8-32 Ab12.+-/*@#$! etc">
          <span (click)="view2()" class="input-group-text bg-white" id="Password-icon">
                  <fa-icon *ngIf="confirm_password_visiable" [icon]="faEyeSlash"></fa-icon>
                  <fa-icon *ngIf="!confirm_password_visiable" [icon]="faEye"></fa-icon>
                </span>
        </div>
        <!-- Confirmpassword error message -->
        <alert *ngIf="confirmpassword_error_alert_msg" [dismissible]="true"
               type="danger">{{confirmpassword_error_message}}</alert>
        <alert *ngIf="getControl('confirmpassword')?.errors && getControl('confirmpassword')?.errors?.['Mustmatch']"
               [dismissible]="true"
               type="danger">
          Mismatched Password
        </alert>
        <!-- Submit button -->
        <div class="col d-flex justify-content-center">
          <button (click)="open_success_modal()" [disabled]="forgotpasswordform.status === 'INVALID' "
                  class=" login-button w-100 mb-3"
                  type="submit">Submit
          </button>
        </div>
        <!-- Register buttons -->
        <div class="text-center">
          <p>Already Have an Account? <a class="" routerLink="/login">Login Here</a></p>
        </div>
      </form>
    </div>
  </div>
</div>
<app-footer></app-footer>
<!--Modal-->
<div class="modal" id="myModal">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header">
        <button (click)="close_success_modal()" class="btn btn-close" type="button"></button>
      </div>
      <!-- Modal body -->
      <div class="modal-body">
        <div class="thank-you-pop">
          <fa-icon [icon]="faCircleCheck" class="fa-beat-fade"></fa-icon>
          <h1>Success</h1>
          <p>Password Changed Successfully.....</p>
        </div>
      </div>
      <!-- Modal footer -->
      <div class="modal-footer">
        <a routerLink="/login">
          <button (click)="close_success_modal()" type="button">Back To Login</button>
        </a>
      </div>
    </div>
  </div>
</div>
