
<div class="main-container d-flex">
  <div class="sidebar" id="side_nav" [collapse]="isCollapsed" >
    <div class="header-box px-2 pt-2 pb-4 d-flex justify-content-between">
      <button class="bars" (click)="isCollapsed=!isCollapsed;"  [attr.aria-expanded]="!isCollapsed" aria-controls="side_nav">
          <span>
            <fa-icon [icon]="faBarsStaggered" style="color: white"></fa-icon>
          </span>
      </button>
    </div>
    <ul class="list-unstyled px-2 ">
      <li class="nav-list-item">
        <fa-icon [icon]="faUser"></fa-icon>
        <span>
          <a routerLink="/student/student-about" >Profile</a>
        </span>
      </li>
      <li class="nav-list-item">
        <fa-icon [icon]="faChalkboardUser"></fa-icon>
        <span>
          <a routerLink="/student/all-mentors">All Mentors</a>
        </span>
      </li>
      <li class="nav-list-item">
        <fa-icon [icon]="faChalkboardUser"></fa-icon>
        <span>
          <a routerLink="/student/my-mentors">My Mentors</a>
        </span>
      </li>
      <li class="nav-list-item">
        <fa-icon [icon]="faEye"></fa-icon>
        <span>
          <a routerLink="/student/blogs">Watch Blogs</a>
        </span>
      </li>
      <li class="nav-list-item">
        <fa-icon [icon]="faDownload"></fa-icon>
        <span>
          <a routerLink="/student/download-resources">Download Resources</a>
        </span>
      </li>
      <li class="nav-list-item">
        <fa-icon [icon]="faSignOut"></fa-icon>
        <span>
          <a routerLink="/">Logout</a>
        </span>
      </li>
    </ul>
  </div>
  <div class="content">
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <div class="container-fluid">
        <div class="d-flex justify-content-between d-block  ">
          <a class="navbar-brand" href="#"><span class = "logo-left"><b>MENTOR</b></span><span class="logo-right"><b>MIND</b></span></a>
          <button class="bars" (click)="isCollapsed=!isCollapsed"
                  [attr.aria-expanded]="!isCollapsed"
                  aria-controls="side_nav">
            <span><fa-icon [icon]="faBarsStaggered"></fa-icon></span>
          </button>
        </div>
        <div class="collapse navbar-collapse justify-content-end" >
          <ul class="navbar-nav  mb-2 mb-lg-0 ">
            <li class="nav-item">
              <img src="assets/images/top-mentors/mentor1.png" alt="" id="profile-img">
              <span>Mafuj Ahmed Bishal</span>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="display-content">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
