<nav class=" navbar navbar-expand-lg sticky-top p-2 d-flex" id="navbar">
  <a
    class="navbar-brand d-flex justify-content-center align-items-center"
    routerLink="/home"
  >
    <span class="logo-left"><b>MENTOR</b></span
    ><span class="logo-right"><b>MIND</b></span>
  </a>
  <fa-icon
    (click)="isCollapsed = !isCollapsed"
    [ariaExpanded]="!isCollapsed"
    [icon]="faBarsStaggered"
    aria-controls="navbarNav"
    class="navbar-toggler"
    data-bs-target="#navbarNav"
    type="button"
  ></fa-icon>
  <div
    [ngbCollapse]="isCollapsed"
    class="collapse navbar-collapse justify-content-center align-items-center"
    id="navbarNav"
  >
    <ul class="navbar-nav" *ngIf="UserInfo.isLoggedIn">
      <span class="name">{{ UserInfo.name }}</span>
      <span class="avatar">
            <img class="avatar" alt="" [src]="UserInfo.profile_picture" />
          </span>
    </ul>
    
    <ul class="navbar-nav" *ngIf="!UserInfo.isLoggedIn">
      <li
        class="nav-item p-2 mx-2"
        *ngFor="let nav_item of nav_items; index as i"
      >
        <a class="fs-6 fw-bold" routerLink="{{ nav_item.route }}">{{
          nav_item.routeName
        }}</a>
      </li>
      <li class="nav-item">
        <a
          class="d-flex justify-content-center align-items-center text-white text-center p-2 button"
          routerLink="/login"
          >Login or Register</a
        >
      </li>
    </ul>
  </div>
</nav>
