<div class="container" style= "border: 1px solid white; background-color: #000;">
  <h1 class="text-center text-light" >Detail Information</h1>
</div>
<div class="container  mt-2 shadow p-3 ">
  <div class="row gap-0">
    <div class="col-md-4">
      <div class="row">
        <div class="col-md-12 mentor-image">
          <img src="/assets/images/top-mentors/mentor1.png" alt="" class="img-fluid w-100 justify-content-center">
        </div>
        <div class="col-md-12 mt-5">
          <div class="social-links">
            <h4 class="text-center p-2 text-light">Social Links</h4>
            <ul class="list-group p-2">
              <li class="list-group-item list-group-item-action mb-2">
                <a href="#"><fa-icon [icon]="faFacebook"></fa-icon>Facebook</a>
              </li>
              <li class="list-group-item list-group-item-action mb-2">
                <a href="#"><fa-icon [icon]="faTwitter"></fa-icon>Twitter</a>
              </li>
              <li class="list-group-item list-group-item-action mb-2">
                <a href="#"><fa-icon [icon]="faLinkedin"></fa-icon>LinkedIn</a>
              </li>
              <li class="list-group-item list-group-item-action mb-2">
                <a href="#"><fa-icon [icon]="faGithub"></fa-icon>Github</a>
              </li>
            </ul>
            </div>
            <div class="skills">
              <h4 class="text-center p-2 align-items-center text-light" >Skills</h4>
              <ul class="list-group p-2">
                <li class="list-group-item list-group-item-action mb-2">
                  MERN STACK DEVELOPER
                </li>
                <li class="list-group-item list-group-item-action mb-2">
                  MERN STACK DEVELOPER
                </li>
                <li class="list-group-item list-group-item-action mb-2">
                  MERN STACK DEVELOPER
                </li>
                <li class="list-group-item list-group-item-action mb-2">
                  MERN STACK DEVELOPER
                </li>


              </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-8 ">
      <div class="row d-flex justify-content-center">
        <div class="col-md-12">
          <h3 class="text-start">Mafuj Ahmed Bishal</h3>
          <h4 class="text-start">Department of CSE</h4>
          <h6 class="text-start">Email: afnanmafuj22@gmail.com</h6>
          <h6 class="text-start">Contact No: 01798541625</h6>
          <div class="rating text-start mb-3 fs-3">
            Rate Here :<rating class="text-start" [(ngModel)]="rate" [max]="max" [readonly]="isReadonly" (keyup)="confirmSelection($event)"></rating>
          </div>
        </div>
        <div class="col-md-12">
            <tabset>
              <tab heading="Educational Qualification" >You are a user of Bard, a large language model from Google AI.
                You are interested in learning more about me.
                You are located in Dhaka, Bangladesh.
                You are currently using Bard in English.
                You are using Bard at 07:56:44 PST on August 30, 2023.</tab>
              <tab heading="Thesis and Projects">You are a user of Bard, a large language model from Google AI.
                You are interested in learning more about me.
                </tab>
              <tab heading="About">You are a user of Bard, a large language model from Google AI.
                You are interested in learning more about me.
                You are using Bard at 07:56:44 PST on August 30, 2023.</tab>
            </tabset>
        </div>
      </div>
    </div>
  </div>
</div>
