<!--Your Profile-->
<h4 class="heading">Your Profile</h4>
<div class="card" style="width: 100%">
  <div class="row g-0">
    <div class="col-md-2 mentor-image">
      <img
        alt=""
        class=""
        src="assets/images/top-mentors/mentor1.png"
        style="height: 100%; width: 100%"
      />
    </div>
    <div class="col-md-10">
      <div class="card-body">
        <h4 class="card-title bar">Mafuj Ahmed Bishal</h4>
        <h5 class="card-subtitle mt-2">Database Management System</h5>
        <p class="card-title mt-2">
          <strong>
            <fa-icon [icon]="faEnvelope" style="color: teal"></fa-icon>
          </strong>
          afnanmafuj22@gmail.com
        </p>
        <p class="card-title mt-2">
          <strong>
            <fa-icon [icon]="faMobile" style="color: #3b5998"></fa-icon>
          </strong>
          01798541625
        </p>
        <h6 class="rating text-start">
          Your Rating :
          <rating
            [(ngModel)]="rate"
            [max]="max"
            [ngClass]="{very_poor: rate>=0 && rate <= 2 , poor: rate>2 && rate <= 4 , fair: rate > 4 && rate <= 6 , good: rate > 6 && rate <= 8, excellent: rate > 8 && rate <= 10 }"
            [readonly]="isReadonly"
            class="text-start"
          ></rating>
        </h6>
        <p class="card-text mt-2">
          <strong>About:</strong> This is a wider card with supporting text
          below as a natural lead-in to additional content. This content is a
          little bit longerThis is a wider card with supporting text below as a
          natural lead-in to additional content.
        </p>
      </div>
    </div>
  </div>
</div>
<!--Your Skills and Social Links-->
<h4 class="heading">Skills and Social Links</h4>
<div class="card" style="width: 100%">
  <div class="row g-0">
    <div class="col-md-6 social-links">
      <ul class="list-group p-2">
        <li class="list-group-item list-group-item-action mb-2">
          <a href="#">
            <fa-icon [icon]="faFacebook"></fa-icon>
            Facebook
          </a>
        </li>
        <li class="list-group-item list-group-item-action mb-2">
          <a href="#">
            <fa-icon [icon]="faTwitter"></fa-icon>
            Twitter
          </a>
        </li>
        <li class="list-group-item list-group-item-action mb-2">
          <a href="#">
            <fa-icon [icon]="faGithub"></fa-icon>
            GitHub
          </a>
        </li>
        <li class="list-group-item list-group-item-action mb-2">
          <a href="#">
            <fa-icon [icon]="faLinkedin"></fa-icon>
            Twitter
          </a>
        </li>
      </ul>
    </div>
    <div class="col-md-6 skills">
      <ul class="list-group p-2">
        <li class="list-group-item list-group-item-action mb-2">
          MERN STACK DEVELOPER
        </li>
        <li class="list-group-item list-group-item-action mb-2">
          MERN STACK DEVELOPER
        </li>
        <li class="list-group-item list-group-item-action mb-2">
          MERN STACK DEVELOPER
        </li>
        <li class="list-group-item list-group-item-action mb-2">
          MERN STACK DEVELOPER
        </li>
      </ul>
    </div>
  </div>
</div>
<!--Your Qualification and Publications-->
<h4 class="heading">Qualification and Publications</h4>
<div class="container-fluid" style="width: 100%">
  <div class="row">
    <div class="col-md-12">
      <tabset>
        <!--Educational Qualification-->
        <tab class="mt-2 text-dark">
          <ng-template tabHeading>
            <div class="tab_header">
              <fa-icon [icon]="faSchool" class="fa-sm mx-1"></fa-icon>
              <span>Educational Qualification</span>
            </div>
          </ng-template>
          <div class="card mb-2" style="width: 100%">
            <div class="row">
              <div class="col-md-2 p-4">
                <img
                  alt=""
                  class=""
                  src="assets/images/qualification.svg"
                  style="width: 100%"
                />
              </div>
              <div class="col-md-10">
                <div class="card-body">
                  <h4 class="card-title" style="color: #8400c4">
                    Mukul Niketon High School
                  </h4>
                  <h5 class="card-subtitle mt-2">
                    Secondary School Certificate
                  </h5>
                  <p class="card-title mt-2">
                    <strong> Result: </strong>
                    4.95
                  </p>
                  <p class="card-title mt-2">
                    <strong> Group/Department: </strong>
                    Computer Science and Engineering
                  </p>
                  <p class="card-text mt-2">
                    <strong> Passing Year: </strong>
                    2024
                  </p>
                  <div class="operation-icon">
                    <fa-icon
                      (click)="open_update_educational_qualification_modal()"
                      [icon]="faPenToSquare"
                      type="button"
                    ></fa-icon>
                    <fa-icon [icon]="faTrash" type="button"></fa-icon>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </tab>
        <!--Thesis or Project-->
        <tab class="mt-2 text-dark">
          <ng-template tabHeading>
            <div class="tab_header">
              <fa-icon [icon]="faFileSignature" class="fa-sm mx-1"></fa-icon>
              <span>Thesis or Project</span>
            </div>
          </ng-template>
          <div class="card mb-2" style="width: 100%">
            <div class="row">
              <div class="col-md-2 p-4">
                <img
                  alt="...."
                  class=""
                  src="assets/images/Publication.svg"
                  style="width: 100%"
                />
              </div>
              <div class="col-md-10">
                <div class="card-body">
                  <h4 class="card-title" style="color: #8400c4">Project</h4>
                  <h5 class="card-subtitle mt-2">Mentor Mind</h5>
                  <p class="card-title mt-2">
                    <strong>
                      <fa-icon [icon]="faLink" style="color: #EE436D"></fa-icon>
                      Link:
                    </strong>
                    <a
                      class="text-decoration-none"
                      href="http://localhost:4200/"
                    >Mentor Mind</a
                    >
                  </p>
                  <p class="card-title mt-2">
                    <strong>
                      <fa-icon [icon]="faCalendarDays" style="color: darkcyan"></fa-icon>
                      Date:
                    </strong>
                    20 March,2021
                  </p>
                  <p class="card-text mt-2">
                    <strong> Publication Description: </strong>
                    This is a wider card with supporting text below as a natural
                    lead-in to additional content. This content is a little bit
                    longerThis is a wider card with supporting text below as a
                    natural lead-in to additional content.
                  </p>
                  <div class="operation-icon">
                    <fa-icon
                      (click)="open_update_publication_modal()"
                      [icon]="faPenToSquare"
                      type="button"
                    ></fa-icon>
                    <fa-icon [icon]="faTrash" type="button"></fa-icon>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </tab>
      </tabset>
    </div>
  </div>
</div>


<!--Educational qualification Table Update Modal-->
<div class="modal" id="update-educational-qualification">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header">
        <h1 class="modal-title fs-5">Update</h1>
        <button
          (click)="close_update_educational_qualification_modal()"
          class="btn btn-close"
          type="button"
        ></button>
      </div>
      <!-- Modal body -->
      <div class="modal-body">
        <form
          (ngSubmit)="
            update_educational_qualification_form.status !== 'INVALID' &&
              update_educational_qualification()
          "
          [formGroup]="update_educational_qualification_form"
          class="col lg-3"
        >
          <!--Institution Name-->
          <label class="form-label" for="programme_name"
          >Institution Name</label
          >
          <div class="input-group mb-2">
            <span class="input-group-text bg-white" id="Institution_name-icon">
              <fa-icon
                [icon]="faBuildingColumns"
                class="fa-flip fa-lg"
                style="color: #8400c4"
              ></fa-icon>
            </span>
            <input
              [ngClass]="{
                error:
                  getControl_of_update_educational_qualification_form(
                    'institution_name'
                  )?.errors &&
                  getControl_of_update_educational_qualification_form(
                    'institution_name'
                  )?.touched
              }"
              class="form-control"
              formControlName="institution_name"
              id="institution_name"
              name="institution_name"
              placeholder="Name of the Institution"
              type="text"
            />
          </div>
          <!--Institution Name error message-->
          <p *ngIf="institution_name_error_alert_msg" class="text-danger">
            {{ institution_name_error_message }}
          </p>
          <!--Programme Name-->
          <label class="form-label" for="programme_name">Programme Name</label>
          <div class="input-group mb-2">
            <span class="input-group-text bg-white" id="Programme_name-icon">
              <fa-icon
                [icon]="faUserGraduate"
                class="fa-flip fa-lg"
                style="color: #8400c4"
              ></fa-icon>
            </span>
            <input
              [ngClass]="{
                error:
                  getControl_of_update_educational_qualification_form(
                    'programme_name'
                  )?.errors &&
                  getControl_of_update_educational_qualification_form(
                    'programme_name'
                  )?.touched
              }"
              class="form-control"
              formControlName="programme_name"
              id="programme_name"
              name="programme_name"
              placeholder="Name of the Programme"
              type="text"
            />
          </div>
          <!--Programme Name error message-->
          <p *ngIf="programme_name_error_alert_msg" class="text-danger">
            {{ programme_name_error_message }}
          </p>
          <!--Result-->
          <label class="form-label" for="result">Result</label>
          <div class="input-group mb-2">
            <span class="input-group-text bg-white" id="Result-icon">
              <fa-icon
                [icon]="faSquarePollHorizontal"
                class="fa-flip fa-lg"
                style="color: #8400c4"
              ></fa-icon>
            </span>
            <input
              [ngClass]="{
                error:
                  getControl_of_update_educational_qualification_form('result')
                    ?.errors &&
                  getControl_of_update_educational_qualification_form('result')
                    ?.touched
              }"
              class="form-control"
              formControlName="result"
              id="result"
              name="result"
              placeholder="Result"
              type="text"
            />
          </div>
          <!--Result error message-->
          <p *ngIf="result_error_alert_msg" class="text-danger">
            {{ result_error_message }}
          </p>

          <!--Group/Department-->
          <label class="form-label" for="department">Group/Department</label>
          <div class="input-group mb-2">
            <span
              class="input-group-text bg-white"
              id="Group_or_Department-icon"
            >
              <fa-icon
                [icon]="faBuildingUser"
                class="fa-flip fa-lg"
                style="color: #8400c4"
              ></fa-icon>
            </span>
            <input
              [ngClass]="{
                error:
                  getControl_of_update_educational_qualification_form(
                    'department'
                  )?.errors &&
                  getControl_of_update_educational_qualification_form(
                    'department'
                  )?.touched
              }"
              class="form-control"
              formControlName="department"
              id="department"
              name="department"
              placeholder="Your Department"
              type="text"
            />
          </div>
          <!--Group/Department error message-->
          <p *ngIf="department_error_alert_msg" class="text-danger">
            {{ department_error_message }}
          </p>

          <!--Passing Year-->
          <label class="form-label" for="passing_year">Passing Year</label>
          <div class="input-group mb-2">
            <span class="input-group-text bg-white">
              <fa-icon
                [icon]="faCalendarDays"
                class="fa-flip fa-lg"
                style="color: #8400c4"
              ></fa-icon>
            </span>
            <input
              [ngClass]="{
                error:
                  getControl_of_update_educational_qualification_form(
                    'passing_year'
                  )?.errors &&
                  getControl_of_update_educational_qualification_form(
                    'passing_year'
                  )?.touched
              }"
              class="form-control"
              formControlName="passing_year"
              id="passing_year"
              name="passing_year"
              type="date"
            />
          </div>
          <!--Passing Year error message-->
          <p *ngIf="passing_year_error_alert_msg" class="text-danger">
            {{ passing_year_error_message }}
          </p>
          <!-- Submit button -->
          <div class="col d-flex justify-content-start">
            <button
              [disabled]="
                update_educational_qualification_form.status === 'INVALID'
              "
              class="update w-25 mb-1"
              type="submit"
            >
              Update
            </button>
          </div>
        </form>
      </div>
      <!-- Modal footer -->
      <div class="modal-footer">
        <button
          (click)="close_update_educational_qualification_modal()"
          type="button"
        >
          Close
        </button>
      </div>
    </div>
  </div>
</div>
<!--Educational Qualification Table Update Modal Ends-->

<!--Thesis or Project Table Update Modal-->
<div class="modal" id="update-publication">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header">
        <h1 class="modal-title fs-5">Update</h1>
        <button
          (click)="close_update_publication_modal()"
          class="btn btn-close"
          type="button"
        ></button>
      </div>
      <!-- Modal body -->
      <div class="modal-body">
        <form
          (ngSubmit)="
            update_publications_form.status !== 'INVALID' &&
              update_publication_form()
          "
          [formGroup]="update_publications_form"
          class="col lg-3"
        >
          <!--Project or Thesis-->
          <label class="form-label" for="project_or_thesis"
          >Project or Thesis</label
          >
          <div class="input-group mb-2">
            <span class="input-group-text bg-white" id="Project_or_Thesis_icon">
              <fa-icon
                [icon]="faFileSignature"
                class="fa-flip fa-lg"
                style="color: #8400c4"
              ></fa-icon>
            </span>
            <select
              [ngClass]="{
                error:
                  getControl_update_publication_form('project_or_thesis')
                    ?.errors &&
                  getControl_update_publication_form('project_or_thesis')
                    ?.touched
              }"
              class="form-select"
              formControlName="project_or_thesis"
              id="project_or_thesis"
              name="project_or_thesis"
            >
              <option [defaultSelected]="true">Choose one</option>
              <option value="Project">Project</option>
              <option value="Thesis">Thesis</option>
            </select>
          </div>
          <!--Project_or_Thesis error message-->
          <alert
            *ngIf="project_or_thesis_error_alert_msg"
            [dismissible]="true"
            type="danger"
          >{{ project_or_thesis_error_message }}</alert
          >

          <!--Title-->
          <label class="form-label" for="title">Title</label>
          <div class="input-group mb-2">
            <span class="input-group-text bg-white">
              <fa-icon
                [icon]="faUserTag"
                class="fa-flip fa-lg"
                style="color: #8400c4"
              ></fa-icon>
            </span>
            <input
              [ngClass]="{
                error:
                  getControl_update_publication_form('title')?.errors &&
                  getControl_update_publication_form('title')?.touched
              }"
              class="form-control"
              formControlName="title"
              id="title"
              name="title"
              placeholder="Title Here"
              type="text"
            />
          </div>
          <!--Title error message-->
          <alert
            *ngIf="title_error_alert_msg"
            [dismissible]="true"
            type="danger"
          >{{ title_error_message }}</alert
          >
          <!--Publication Link-->
          <label class="form-label" for="publication_link"
          >Publication link</label
          >
          <div class="input-group mb-2">
            <span class="input-group-text bg-white" id="Publication_link_icon">
              <fa-icon
                [icon]="faLink"
                class="fa-flip fa-lg"
                style="color: #8400c4"
              ></fa-icon>
            </span>
            <input
              [ngClass]="{
                error:
                  getControl_update_publication_form('publication_link')
                    ?.errors &&
                  getControl_update_publication_form('publication_link')
                    ?.touched
              }"
              class="form-control"
              formControlName="publication_link"
              id="publication_link"
              name="publication_link"
              placeholder="Add a link of your publication"
              type="url"
            />
          </div>
          <!--Publication Link error message-->
          <alert
            *ngIf="publication_link_error_alert_msg"
            [dismissible]="true"
            type="danger"
          >{{ publication_link_error_message }}</alert
          >

          <!--Date of Publication-->
          <label class="form-label" for="date_of_publication"
          >Date of Publication</label
          >
          <div class="input-group mb-2">
            <span class="input-group-text bg-white">
              <fa-icon
                [icon]="faCalendarDays"
                class="fa-flip fa-lg"
                style="color: #8400c4"
              ></fa-icon>
            </span>
            <input
              [ngClass]="{
                error:
                  getControl_update_publication_form('date_of_publication')
                    ?.errors &&
                  getControl_update_publication_form('date_of_publication')
                    ?.touched
              }"
              class="form-control"
              formControlName="date_of_publication"
              id="date_of_publication"
              name="date_of_publication"
              type="date"
            />
          </div>
          <!--Date of Publication error message-->
          <alert
            *ngIf="date_of_publication_error_alert_msg"
            [dismissible]="true"
            type="danger"
          >{{ date_of_publication_error_message }}</alert
          >
          <!--Description-->
          <label class="form-label" for="publication_description"
          >Publication Description</label
          >
          <div class="input-group mb-1">
            <textarea
              [ngClass]="{
                error:
                  getControl_update_publication_form('publication_description')
                    ?.errors &&
                  getControl_update_publication_form('publication_description')
                    ?.touched
              }"
              class="form-control"
              cols="5"
              formControlName="publication_description"
              id="publication_description"
              name="publication_description"
              placeholder="Write Your Message Here"
              rows="5"
              type="text"
            ></textarea>
          </div>
          <p id="description_counter"></p>
          <!--Description error message-->
          <alert
            *ngIf="publication_description_error_alert_msg"
            [dismissible]="true"
            type="danger"
          >{{ publication_description_error_message }}</alert
          >
          <!-- Submit button -->
          <div class="col d-flex justify-content-start">
            <button
              [disabled]="update_publications_form.status === 'INVALID'"
              class="update w-25 mb-1"
              type="submit"
            >
              Update
            </button>
          </div>
        </form>
      </div>
      <!-- Modal footer -->
      <div class="modal-footer">
        <button (click)="close_update_publication_modal()" type="button">
          Close
        </button>
      </div>
    </div>
  </div>
</div>
<!--Thesis or Project Table Update Modal Ends-->
