/* .mentor-image {
  border: 1px solid #2d83e5;
  background-color: rgb(86, 111, 178);
  padding: 0.5rem;
  display: flex;
  justify-content: center;
} */
.cover_image{
  width: 100%;
  height: 100%;
}
/* .mentor-image img {
  object-fit: cover;
  border-radius: 50%;
  height: 200px;
  width: 250px;
  object-position: center;
} */

.bar {
  display: inline-block;
  position: relative;
  color: #8400c4;
}

.bar::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  top: 30px;
  height: 3px;
  bottom: 0;
  left: 0;
  background-color: #8400c4;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.bar:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

@-webkit-keyframes swing-in-left-fwd {
  0% {
    -webkit-transform: rotateY(100deg);
    transform: rotateY(100deg);
    -webkit-transform-origin: left;
    transform-origin: left;
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateY(0);
    transform: rotateY(0);
    -webkit-transform-origin: left;
    transform-origin: left;
    opacity: 1;
  }
}

@keyframes swing-in-left-fwd {
  0% {
    -webkit-transform: rotateY(100deg);
    transform: rotateY(100deg);
    -webkit-transform-origin: left;
    transform-origin: left;
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateY(0);
    transform: rotateY(0);
    -webkit-transform-origin: left;
    transform-origin: left;
    opacity: 1;
  }
}

.swing-in-left-fwd {
  -webkit-animation: swing-in-left-fwd 0.9s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
  animation: swing-in-left-fwd 0.9s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
}

/*Header Animation*/

@-webkit-keyframes text-blur-out {
  0% {
    -webkit-filter: blur(0.01);
    filter: blur(0.01);
  }
  100% {
    -webkit-filter: blur(12px) opacity(0%);
    filter: blur(12px) opacity(0%);
  }
}

@keyframes text-blur-out {
  0% {
    -webkit-filter: blur(0.01);
    filter: blur(0.01);
  }
  100% {
    -webkit-filter: blur(12px) opacity(0%);
    filter: blur(12px) opacity(0%);
  }
}

.text-blur-out {
  -webkit-animation: text-blur-out 1.2s cubic-bezier(0.550, 0.085, 0.680, 0.530) 1s infinite both;
  animation: text-blur-out 1.2s cubic-bezier(0.550, 0.085, 0.680, 0.530) 1s infinite both;
}

/*heading style*/
.header {
  font-family: 'poppins', sans-serif;
  text-align: center;
  color: #ffffff;
  margin-top: 25px;
  padding: 10px;
  background-color: #566fb2;
}


.courses {
  border: 1px solid rgb(86, 111, 178);
  box-shadow: 0 1px 2px rgb(255, 255, 255)
}

.courses:hover {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  transition: all 0.4s ease-in-out;
  translate: scale(1.2, 1.2);
}
.course_status{
  width: 200px;
  margin-left: 5px;
  height: 35px;
}
.status-button{
  width: 100px;
  height: 35px;
  margin-left: 5px;
  background-color: #8400c4;
  color: #fbfbfb;
  border: #8400c4 1px solid;
}
.status_completed{
  color:#56b290;
}
.status_inprogress{
  color: #a20808;
}

.status_button{
  background-color: #8400c4;
  color: #ffffff;
  border: 1px solid #fbfbfb;
  border-radius: 2px;
  width: 150px;
  margin-left: 5px;
  height: 35px;
}
.edit_button{
  background-color: #566fb2;
  color: #ffffff;
  height: 100px;
  padding: 8px;
  width: 250px;
  text-decoration: none;
}
