<footer class="text-center justify-content-center text-lg-start text-white mt-4"
        style="background-image: url('../../../assets/images/World Map.svg'); background-repeat: no-repeat; background-size: cover">
  <!-- Grid container -->
  <div class="container p-4 pb-0">
    <!-- Section: Links -->
    <section class="">
      <!--Grid row-->
      <div class="row">
        <!-- Grid column -->
        <div class="col-md-4 col-lg-4 col-xl-4 mx-auto mt-4">
          <h6 class="text-uppercase mb-4 font-weight-bold">Mentor Mind</h6>
          <p>Lorem ipsum dolor sit amet consecrate adipisicing elite. Nihil quits qualm impedit, incident eius, ad
            perferendis praesentium esse cupiditate repudiandae quos rem eligendi labore veniam repellendus itaque quod
            autem perspiciatis.
          </p>
        </div>
        <!-- Grid column -->
        <hr class="w-100 clearfix d-md-none"/>
        <!-- Grid column -->
        <div class="col-md-4 col-lg-4 col-xl-4 mx-auto mt-3">
          <h6 class="text-uppercase mb-4 font-weight-bold">Useful links</h6>
          <p><a class="text-white" routerLink="/login">Your Account</a></p>
          <p><a class="text-white">Academic</a></p>
          <p><a class="text-white">Competitive-Programming</a></p>
          <p><a class="text-white">Help</a></p>
        </div>
        <!-- Grid column -->
        <hr class="w-100 clearfix d-md-none"/>

        <!-- Grid column -->
        <div class="col-md-4 col-lg-4 col-xl-4 mx-auto mt-3">
          <h6 class="text-uppercase mb-4 font-weight-bold">Contact</h6>
          <p>
            <fa-icon [icon]="faHome" class="fa-fade mr-3"></fa-icon>
            Dhaka, Mirpur 12, Bangladesh
          </p>
          <p>
            <fa-icon [icon]="faEnvelope" class="fa-fade mr-3"></fa-icon>
            MentonMind@gmail.com
          </p>
          <p>
            <fa-icon [icon]="faPhone" class="fa-fade mr-3"></fa-icon>
            +88 0179 854 1625
          </p>
          <p>
            <fa-icon [icon]="faPhone" class="fa-fade mr-3"></fa-icon>
            +88 0174 235 7462
          </p>
        </div>
        <!-- Grid column -->
      </div>
      <!--Grid row-->
    </section>
    <!-- Section: Links -->

    <hr class="my-3">

    <!-- Section: Copyright -->
    <section class="p-3 pt-0">
      <div class="row d-flex align-items-center">
        <!-- Grid column -->
        <div class="col-md-7 col-lg-8 text-center text-md-start">
          <!-- Copyright -->
          <div class="p-3">
            © 2023 Copyright:
            <a class="text-white" routerLink="/home">MentorMind.com</a>
          </div>
          <!-- Copyright -->
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-5 col-lg-4 ml-lg-0 text-center text-md-end text-white">
          <!-- Facebook -->
          <a
            class="text-white"

            role="button"
          >
            <fa-icon [icon]="faFacebook" class=" fa-lg m-2"></fa-icon>
          </a>

          <!-- Twitter -->
          <a
            class="text-white"

            role="button">
            <fa-icon [icon]="faTwitter" class="fa-lg m-2"></fa-icon>
          </a>

          <!-- Google -->
          <a
            class="text-white"
            role="button"
          >
            <fa-icon [icon]="faGoogle" class=" fa-lg m-2"></fa-icon>
          </a>

          <!-- Instagram -->
          <a class="text-white " role="button">
            <fa-icon [icon]="faInstagram" class=" fa-lg m-2"></fa-icon>
          </a>

          <!-- Linkedin -->
          <a class="text-white" role="button">
            <fa-icon [icon]="faLinkedin" class=" fa-lg m-2"></fa-icon>
          </a>
        </div>
        <!-- Grid column -->
      </div>
    </section>
    <!-- Section: Copyright -->
  </div>
  <!-- Grid container -->
</footer>
