<!--Navbar-->
<app-navbar></app-navbar>
<!--End Navbar-->
<!--Banner-->
<app-banner></app-banner>
<!--End Banner-->
<!--Counter-->
<app-counter></app-counter>
<!--End Counter-->
<!--F.A.Q-->
<app-frequent-ask-question></app-frequent-ask-question>
<!--End F.A.Q-->
<!--Top Rated Mentor-->
<app-top-mentor></app-top-mentor>
<!--Top Rated Mentor End-->
<!--Contact Us-->
<app-contact-us></app-contact-us>
<!--End contact us-->
<div class="d-flex justify-content-end">
  <button (click)="go_to_top()" class="back_to_top">
    <fa-icon [icon]="faArrowUp"></fa-icon>
  </button>
</div>
<!--Footer-->
<app-footer></app-footer>
<!--Footer End-->
